*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

body{
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}

#container{
    border: none;
    height: auto;
}

#cabecalho{
    height: 13.9375rem;
    display: flex;
    flex-direction:row;
}

#mini_music_big{
    border:none;
    display: flex;
    flex-direction: row;
    height: auto;
}

#miniCovers{
    border: none;
    height: 127.375rem;
    width: 21.6969rem;
}

#musicList{
    border: none;
    height: 127.375rem;
    width: 211.2537rem;
    background-image: url(/assets/background-list-music.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}

#bigCover{
    padding: 0.625rem;
    border: none;
    border-radius: 6.25rem;
    background-color: #121212;
    height: 127.375rem;
    width: 104.75rem;
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
}

#bigCover h1{
    color: white;
    font-size:3.5625rem;
    margin-left: 4.0625rem;
    margin-top: 5.4375rem;
}

#bigCover h2{
    color:white;
    font-size: 4.625rem;
    margin-left:3.75rem;
    margin-top: 78.125rem;
}

#bigCover span{
    color:white;
    font-size: 2.75rem;
    margin-left: 3.75rem;
    position: absolute;
    margin-top: 112.5rem;
}

#bigCover #musicTitle{
    margin-top: 93.75rem;
}
#bigCoverImg{
    height: 82.5rem;
    width: 92.5rem;
    border: none;
    margin: auto;
    border-radius: 3.125rem;
    position: absolute;
    margin-top: 14.125rem;
    margin-left: 4.5625rem;
}

#bigCover .options{
    background-image: url(/assets/options-symbol-bigcover.png);
    position: absolute;
    width:5rem;
    height:4.375rem;
    position:absolute;
    margin-top:4.5625rem;
    margin-left: 77.5rem;
    background-color: transparent;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    border-radius:0.625rem;
}

#bigCover .options:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

#bigCover .close{
    background-image: url(/assets/x-symbol-bigcoveer.png);
    position:absolute;
    width:5rem;
    height:4.375rem;
    margin-top:4.625rem;
    margin-left: 89.0625rem;
    background-color: transparent;
    border:none;
    border-radius:0.625rem;
}

#bigCover .close:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

#bigCover .options{
    background-image: url(/assets/options-symbol-bigcover.png);
    position:absolute;
}

#bigCover .addFavorite{
    background-image: url(/assets/add-symbol-big-cover.png);
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 0.0625rem solid white;
    position: absolute;
    width: 4.75rem;
    height: 4.75rem;
    border-radius: 50%;
    margin-left: 89.375rem;
    margin-top: 106.25rem;
}

#bigCover .addFavorite:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

#albumContainer{
    height: auto;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: column;
    padding:1.25rem;
}

#albumInfo{
    width: 100%;
    height: 50rem;
    margin-top: 1.25rem;
    display:flex;
    flex-direction: row;
}

#albumContainer img{
    width:46.25rem;
    height:40.625rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 0.625rem 0 rgba(255,255,255,0.5);
    margin-top:4.375rem;
    margin-left: 2.5rem;
}

#containerForAlbumInfo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3.75rem;

}
#albumInfo .compilacao {
    color: white;
    font-size: 2.75rem;
    margin-top: 18.75rem;;
}

#albumInfo .titulo {
    color: white;
    font-size: 5.625rem;
    font-weight: bold;
    margin: 0.625rem 0;
}

#albumInfo .detalhes {
    color: white;
    font-size: 2.75rem;
    margin: 0.625rem 0;
}


#miniCovers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.album{
    width:14.375rem;
    height:12.5rem;
    border-radius:1.875rem;
    border:none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.album:hover{
    cursor:pointer;
    border-radius: 1.875rem;
    transition: 0.2s;
}

.album:focus{
    width:18.75rem;
    height:18.75rem;
    transition: 0.2s;
    border: 0.0625rem solid rgba(255, 255, 255, 0.4);
}

#album1{background-image: url(/assets/1.png);}
#album1:hover{ background-image: url(/assets/1-1.png);}

#album2{background-image: url(/assets/2.png); border-radius: 0.625rem;}
#album2:hover{ background-image: url(/assets/2-2.png);}

#album3{background-image: url(/assets/3.png);}
#album3:hover{ background-image: url(/assets/3-3.png);}

#album4{background-image: url(/assets/4.png);}
#album4:hover{ background-image: url(/assets/4-4.png);}

#album5{background-image: url(/assets/5.png);}
#album5:hover{ background-image: url(/assets/5-5.png);}

#album6{background-image: url(/assets/6.png);}
#album6:hover{ background-image: url(/assets/6-6.png);}

#album7{background-image: url(/assets/7.png);}
#album7:hover{ background-image: url(/assets/7-7.png);}

#album8{background-image: url(/assets/8.png);}
#album8:hover{ background-image: url(/assets/8-8.png);}

#album9{background-image: url(/assets/9.png);}
#album9:hover{ background-image: url(/assets/9-9.png);}

#albumContainer #list1 {
  width: 100%;
  height: 18.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7.25rem;
  margin-top:2.5rem;
}

#play {
    background-image: url(/assets/list-play.png);
    width: 14.5rem;
    height: 14.5rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border:none;
    border-radius: 50%;
    margin-left: 4.375rem;;
    opacity: 0.8;
}

#play:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

#order {
    background-image: url(/assets/list\ order.png);
    width: 8.1875rem;
    height: 6.0625rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border:none;
    opacity: 0.8;
}

#order:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

#addList {
    background-image: url(/assets/list\ add\ favorites.png);
    width: 8.375rem;
    height: 8.375rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    opacity: 0.8;
}

#addList:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

#downloadList {
    background-image: url(/assets/list\ downlaod.png);
    width: 8.375rem;
    height: 8.375rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border:none;
    opacity: 0.8;
}

#downloadList:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

#optionsList {
    background-image: url(/assets/list\ options.png);
    width: 6.5625rem;
    height: 1.0625rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border:none;
    margin-right: -6.25rem;
    opacity: 0.8;
}

#optionsList:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

#list {
    background-image: url(/assets/list\ show.png);
    width: 3.8125rem;
    height: 3.3125rem;
    margin-left: 103.125rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border:none;
    opacity: 0.8;
}

#list:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

#list-table{
    height: 50rem;
    display: flex;
}

.musicTitleHeader, .musicViewsHeader, .musicNumberHeader, .musicDurationHeader{
    font-size: 2.625rem;
    color:white;
}

.musicArtist, .musicNumber, .musicTitle, .musicViews, .musicDuration{
    position: absolute;
}

.musicNumber, .musicTitle, .musicViews, .musicDuration{
    color: rgb(217, 217, 217);
    font-size: 3.75rem;
}

.musicArtist{
    color: rgb(217, 217, 217);
    font-size: 2.5rem;
}

.musicNumber{
    margin-left: 11.25rem;
    opacity: 0.6;
    font-size: 2.8125rem;
}

#hashtag{
    margin-left: 11.25rem;
    margin-top: 3.5rem;
}

#title{
    margin-left:6.25rem;
    margin-top: 3.4375rem;
}

#views{
    margin-left: 85.9375rem;
    margin-top: 3.4375rem;
}

#duration{
    margin-left: 175rem;
    margin-top: 0.625rem;
}

#musicNumber1{
    margin-top: 15.625rem;
}

#musicNumber2{
    margin-top: 28.125rem;
}

#musicNumber3{
    margin-top: 40.625rem;
}

#musicTitle1{
    margin-top: 13.125rem;
    margin-left:19.375rem;
}

#musicTitle2{
    margin-top: 26.875rem;
    margin-left:18.75rem;
}

#musicTitle3{
    margin-top: 38.125rem;
    margin-left:18.75rem;
}

#musicArtist1{
    margin-top: 18.125rem;
    margin-left:18.75rem;
}

#musicArtist2{
    margin-top: 31.25rem;
    margin-left:18.75rem;
}

#musicArtist3{
    margin-top: 42.5rem;
    margin-left:18.75rem;
}

#musicViews1{
    margin-left: 112.5rem;
    margin-top: 13.75rem;
}

#musicViews2{
    margin-left: 112.5rem;
    margin-top: 26.25rem;
}

#musicViews3{
    margin-left: 112.5rem;
    margin-top: 38.75rem;
}

#musicDuration1{
    margin-left: 178.125rem;
    margin-top: 13.75rem;
}

#musicDuration2{
    margin-left: 178.125rem;
    margin-top: 26.25rem;
}


#musicDuration3{
    margin-left: 178.125rem;
    margin-top: 38.75rem;
}

#iconDuration{
    width: 3.125rem;
    height: 3.125rem;
    background-image: url(/assets/iconDuration.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 53.125rem;
    margin-top: 3.4375rem;
}

#footer{
    height:19rem;
    display: flex;
}

#albumFooter{
    width: 15.625rem;
    height: 15.625rem;
    border-radius: 0.625rem;
    background-image: url(/assets/footer-img.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 4.0625rem;
    margin-top: 1.375rem;
}

#collapseIcon{
    width: 6.0625rem;
    height: 6.0625rem;
    border-radius: 50%;
    background-image: url(/assets/collapseIcon.png);
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin-left: 13.125rem;
    margin-top: 2.5rem;
    opacity: 0.0;
}

#collapseIcon:hover{
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}

#containerForTitles {
    width: 25rem;
    height: 11.25rem;
    margin-top: 4.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#musicTitleForFooter {
    font-size: 3.125rem;
    color: white;
    margin-left: 1.25rem;
}

#musicArtistForFooter {
    font-size: 2.1875rem;
    color: white;
    margin-left: 1.5625rem;
    margin-top: 0.625rem;
}

#addFooter{
    background-image: url(/assets/add-symbol-big-cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    width: 4rem;
    height: 4rem;
    margin-top: 6.375rem;
    margin-left: -10rem;
    border-radius: 50%;
    background-color: transparent;
    border:none;
}

#addFooter:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
}

#playPauseBtn {
    width: 9.25rem;
    height: 9.25rem;
    border-radius: 50%;
    background-image: url(/assets/footer-pause.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 2.5rem;
    margin-left:131.25rem;
}

#playPauseBtn:hover {
    background-size: 100%;
    transition: 0.1s;

}


#progress {
    display: block;
    height: 100%;
    width: 0;
    background: #4CAF50;
    border-radius: 0.1875rem;
}

.botaoplayer{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: transparent;
    opacity: 0.8;
}

.botaoplayer:hover{
    scale: 1.23;
    transition: 0.2s;
    opacity: 1;
}

#shuffle{
    background-image: url(/assets/footer-shuffle.svg);
    width: 4.0625rem;
    height: 3rem;
    position: absolute;
    margin-left: 112.5rem;
    margin-top: 5.625rem;
    border:none;
    cursor:pointer;
}

#previous{
    background-image: url(/assets/footer-previous.svg);
    width: 3.75rem;
    height: 3.5625rem;
    position: absolute;
    margin-left: 123.125rem;
    margin-top: 5.25rem;
    border:none;
    cursor:pointer;
}

#next{
    background-image: url(/assets/footer-next.svg);
    width: 3.75rem;
    height: 3.5625rem;
    position: absolute;
    margin-left: 145rem;
    margin-top: 5.25rem;
    border:none;
    cursor:pointer;
}

#repeat{
    background-image: url(/assets/footer-repeat.svg);
    width: 4.5625rem;
    height: 3.6875rem;
    position: absolute;
    margin-left: 155rem;
    margin-top: 5.25rem;
    border:none;
    cursor:pointer;
}

.controlsButton:hover{
    scale: 1.2;
    opacity: 1;
    transition: 0.2s;
}

.controlsButton{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: transparent;
    opacity: 0.8;
    cursor: pointer;
}

.controlsButtonvol:hover{
    opacity: 1;
    transition: 0.2s;
}

.controlsButtonvol{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: transparent;
    opacity: 0.8;
    cursor: pointer;
}

#containerForControlsButtons{
  
}

#playingOn{
    background-image: url(/assets/footer-playingon.svg);
    width: 3.9375rem;
    height: 5.8125rem;
    position: absolute;
    margin-left: 209.375rem;
    margin-top: -7.8125rem;
    border:none;
}

#karaoke{
    background-image: url(/assets/footer-karaoke.svg);
    width: 3.9375rem;
    height: 5.8125rem;
    position: absolute;
    margin-left: 218.75rem;
    margin-top: -8.4375rem;
    border:none;
}

#showList{
    background-image: url(/assets/footer-musiclist.svg);
    width: 3.875rem;
    height: 3.4375rem;
    position: absolute;
    margin-left: 228.125rem;
    margin-top: -7.5rem;
    border:none;
}

#connect{
    background-image: url(/assets/footer-connect.svg);
    width: 3.9375rem;
    height: 5.8125rem;
    position: absolute;
    margin-left: 237.5rem;
    margin-top: -8.75rem;
    border:none;
}

#soundControl{
    background-image: url(/assets/footer-sound\ icon.svg);
    width: 3.9375rem;
    height: 5.8125rem;
    position: absolute;
    margin-left: 246.875rem;
    margin-top: -8.75rem;
    border:none;
}

#soundVol{
    background-image: url(/assets/soundvol.svg);
    width: 16.25rem;
    height: 1.125rem;
    position: absolute;
    margin-left: 251.875rem;
    margin-top: -6.5rem;
    border:none;
}

#miniplayer{
    background-image: url(/assets/footer-miniplayer.svg);
    width: 3.9375rem;
    height: 5.8125rem;
    position: absolute;
    margin-left: 271.25rem;
    margin-top: -8.75rem;
    border:none;
}

#fullscreen{
    background-image: url(/assets/footer-fullscreen.svg);
    width: 3.9375rem;
    height: 5.8125rem;
    position: absolute;
    margin-left: 278.4375rem;
    margin-top: -8.75rem;
    border:none;
}

.cabecalho{
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#reticencias{
    background-image: url(/assets/cb\ 3pontos.svg);
    width: 6rem;
    height: 1.75rem;
    position: absolute;
    margin-left: 6.625rem;
    margin-top: 6.25rem;
    border: none;
    opacity: 0.8;
}

#reticencias:hover{
    cursor:pointer;
    opacity:1;
    transition: 0.2s;
    scale: 1.2;
}

#back{
    background-image: url(/assets/cb\ voltar.svg);
    width: 2.5rem;
    height: 4.375rem;
    position: absolute;
    margin-left: 15.9375rem;
    margin-top: 4.625rem;
    border: none;
    opacity: 0.8;
}

#back:hover{
    cursor:pointer;
    opacity:1;
    transition: 0.2s;
    scale: 1.2;
}

#avancar{
    background-image: url(/assets/cb\ avancar.svg);
    width: 2.5rem;
    height: 4.375rem;
    position: absolute;
    margin-left: 25rem;
    margin-top: 4.9375rem;
    border: none;
    opacity: 0.8;
}

#avancar:hover{
    cursor:pointer;
    opacity:1;
    transition: 0.2s;
    scale: 1.2;
}

#homeIcon{
    background-image: url(/assets/cb\ home.svg);
    width: 9.375rem;
    height: 9.375rem;
    position: absolute;
    margin-left: 109.375rem;
    margin-top: 2rem;
    border: none;
    opacity: 0.8;
}

#homeIcon:hover{
    cursor:pointer;
    opacity:1;
    transition: 0.2s;
    scale: 1.2;
}

#pesquisa{
    width:112.5rem;
    height:8.75rem;
    border-radius: 6.25rem;
    margin-top: 2.5rem;
    margin-left: 120.625rem;
    font-size: 3.75rem;
    color:rgb(233, 233, 233);
    padding-left: 11.875rem;
    background-color: #1F1F1F;
    border:none;
}

#pesquisa ::placeholder{
    font-size: 9.375rem;
}

#searchIcon { 
    background-image: url(/assets/cb\ search.svg);
    width: 5.3125rem;
    height: 4.9375rem;
    position: absolute;
    margin-left: 123.125rem;
    margin-top: 4.375rem;
    border: none;
    opacity: 0.8;
}

#searchIcon:hover{
    cursor:pointer;
    opacity:1;
    transition: 0.2s;
    scale: 1.1;
}

#verticalLine{
    background-image: url(/assets/cb\ vertical\ line.svg);
    width: 0.375rem;
    height: 6.25rem;
    position:absolute;
    margin-left: 220.625rem;
    margin-top: 3.75rem;
    border:none;
    opacity: 0.8;
}

#market{
    background-image: url(/assets/cb\ market.svg);
    width: 5.5rem;
    height: 4.75rem;
    position:absolute;
    margin-left: 223.75rem;
    margin-top: 4.5rem;
    border:none;
    opacity: 0.8;
}

#market:hover{
    cursor: pointer;
    opacity: 1;
    transition: 0.2s;
    scale: 1.1;
}

#notifications{
    background-image: url(/assets/cb\ notifictions.svg);
    width: 5.9375rem;
    height: 5.3125rem;
    position: absolute;
    margin-left: 259.375rem;
    margin-top: 3.125rem;
    border: none;
    opacity: 0.8;
}
#notifications:hover{
    cursor:pointer;
    opacity:1;
    transition: 0.2s;
    scale: 1.2;
}

#social{
    background-image: url(/assets/cb\ friends.svg);
    width: 4.3125rem;
    height: 3.6875rem;
    position: absolute;
    margin-left: 270.625rem;
    margin-top: 5rem;
    border: none;
    opacity: 0.8;
}
#social:hover{
    cursor:pointer;
    opacity:1;
    transition: 0.2s;
    scale: 1.2;
}

#userProfile{
    background-image: url(/assets/cb\ user\ account.svg);
    width: 10rem;
    height: 10rem;
    position: absolute;
    margin-left: 279.375rem;
    margin-top: 1.4375rem;
    border: none;
    opacity: 0.8;
}
#userProfile:hover{
    cursor:pointer;
    opacity:1;
    transition: 0.2s;
    scale: 1.1;
}

#minimize{
    background-image: url(/assets/cb\ minimize.svg);
    width: 3rem;
    height: 2.875rem;
    position: absolute;
    margin-left: 295.3125rem;
    margin-top: 5rem;
    border: none;
    opacity: 0.8;
}
#minimize:hover{
    cursor:pointer;
    opacity:1;
    transition: 0.2s;
    scale: 1.2;
}

#maximize{
    background-image: url(/assets/cb\ maximize.svg);
    width: 3rem;
    height: 2.875rem;
    position: absolute;
    margin-left: 306.25rem;
    margin-top: 5rem;
    border: none;
    opacity: 0.8;
}
#maximize:hover{
    cursor:pointer;
    opacity:1;
    transition: 0.2s;
    scale: 1.2;
}

#close{
    background-image: url(/assets/cb\ close.svg);
    width: 2.6875rem;
    height: 2.6875rem;
    position: absolute;
    margin-left: 316.875rem;
    margin-top: 5rem;
    border: none;
    opacity: 0.8;
}
#close:hover{
    cursor:pointer;
    opacity:1;
    transition: 0.2s;
    scale: 1.2;
}

#time-display{
font-size: 3.125rem;
color:white;
}

#progress-barr {
    width: 112.5rem; /* Ajuste conforme necessário */
    height: 0.625rem; /* Altura do contêiner */
    background-color: #333; /* Cor de fundo do contêiner */
    border-radius: 0.3125rem; /* Bordas arredondadas */
    margin-top: 2.1875rem;
    margin-left: 78.125rem;;
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.progress-bar {
    flex: 1;
    appearance: none;
    -webkit-appearance: none;
    height: 0.3125rem;
    background-color: #61dafb; /* Cor da barra de progresso */
    outline: none;
    border-radius: 0.3125rem; /* Bordas arredondadas */
    cursor: pointer;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 1.875rem;
    height: 1.875rem;
    background: #4CAF50; /* Cor do botão deslizante */
    border-radius: 50%;
    cursor: pointer;
}

.progress-bar::-moz-range-thumb {
    width: 1.875rem;
    height: 1.875rem;
    background: #4CAF50; /* Cor do botão deslizante */
    border-radius: 50%;
    cursor: pointer;
}